.bg-wg-modal {
    display: block;
    background-color: rgba(56, 56, 56, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 100;
}
.wg-modal-hidden {
    display: none;
}
.wg-modal-blur {
    filter: blur(4px);
}
.bg-wg-modal .wg-modal {
    display: block;
    position: relative;
}
.wg-modal.verticalCentering {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.wg-modal {
    width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

@media (max-width: 706px) {
    .bg-wg-modal .wg-modal {
        width: 85%;
    }
}